<div class="contact">
        <div class="contact-content flex">
           {% if grav.language.getActive == 'pl' %}
            <h2 class="like-h1">Napisz do mnie</h2>
            {% else %}
            <h2 class="like-h1">Contact me</h2>
            {% endif %}
            <div class="under-line-container">
                <div class="under-line"></div>
            </div>
            <div class="form-content">
                <form action="{{ url('theme://mail.php') }}" method="post" class="form flex" id="ajax-contact">

                    {% if grav.language.getActive == 'pl' %}
                    <input type="text" name="name" id="name" placeholder="Imię *" data-validation="alphanumeric" data-validation-allowing=" ąćęłńóśżź" data-validation="required">
                    <input type="text" id="subject" name="subject" placeholder="Temat" data-validation="required">
                    <input id="email" type="text" name="email" placeholder="Email *" data-validation="email" data-validation-error-msg="Niepoprawny email">
                    <textarea name="message" id="message" placeholder="Wiadomość *" data-validation="required"></textarea>
                    <button type="submit" id="submit">Wyślij</button>
                    {% else %}
                    <input type="text" name="name" id="name" placeholder="Name *" data-validation="alphanumeric" data-validation-allowing=" ąćęłńóśżź" data-validation="required">
                    <input type="text" id="subject" name="subject" placeholder="Subject *" data-validation="required">
                    <input id="email" type="text" name="email" placeholder="Email *" data-validation="email" data-validation-error-msg="Niepoprawny email">
                    <textarea name="message" id="message" placeholder="Message *" data-validation="required"></textarea>
                    <button type="submit" id="submit">Send</button>
                    {% endif %}
                </form>

                <div class="row">
                    <div class="col-md-12">
                        <br class="clear" />
                        <div id="form-messages">
                            <div class="form-info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="section-content copyright-content">
            <p>Sebastian Piaścik &copy 2018 </p>
        </div>
    </div>