    <div class="contact-info" id="contact">
        <div class="contact-info-content flex">
            <div class="contact-info-section col-md-4">
                <img src="/user/themes/mytheme/images/ikony/map.svg" alt="ikona mapa">
                <h6>Gdańsk, Polska</h6>
            </div>
            <div class="contact-info-section col-md-4">
                <img src="/user/themes/mytheme/images/ikony/mail.svg" alt="ikona mail">
                <h6>sebastian.piascik97@gmail.com</h6>
            </div>
            <div class="contact-info-section col-md-4">
                <img src="/user/themes/mytheme/images/ikony/phone.svg" alt="ikona telefon ">
                <h6>(+48) 530 133 179</h6>
            </div>
        </div>
    </div>