@media screen and (max-width:1050px) {
    .section-content {
        width: 90%;
    }
    .wallpaper {
        height: 600px;
    }
    .hamburger {
        display: block;
        z-index: 1000;
    }
    .nav>.nav-logo {
        display: inline-block;
    }
    .nav .nav-logo {
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
        margin-left: 5%
    }
    .nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 45px 0;
        z-index: 999;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .nav-content {
        width: 100% !important;
        padding: 0;
        margin: 0;
        background-color: rgba(41, 41, 51, 0.96);
        min-height: 100vh;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .nav .nav-content .nav-logo {
        display: none;
    }
    .nav .nav-content .nav-ul {
        width: 100%;
        text-align: right;
        display: flex;
        align-items: center;
    }
    .nav .nav-content .nav-ul ul {
        width: 100%;
        list-style-type: none;
    }
    .nav .nav-content .nav-ul ul li {
        display: block;
    }
    .nav .nav-content .nav-ul ul li a {
        color: #aaa;
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 30px;
        transition: 0.3s;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 15px 0;
    }
    .nav .nav-content .nav-ul ul li a span {
        transition: 0.3s;
    }
    .nav .nav-content .nav-ul ul li a:first-child span {
        padding-right: 5px;
        border-right: 1.5px solid #666;
    }
    .nav .nav-content .nav-ul ul li a span:nth-child(2) {
        padding-left: 5px;
    }
    .nav .nav-content .nav-ul ul li a span:hover {
        color: #fff;
    }
    .nav .nav-content .nav-ul ul li a.active {
        color: #fff;
    }
    .nav .nav-content .nav-ul ul li a:hover {
        color: #fff;
    }
    .nav .nav-content .nav-ul ul li:last-child:hover a {
        color: #aaa;
    }
    .nav .nav-content .nav-ul ul li:nth-child(7) {
        float: none;
        text-align: center;
    }
    .info .info-content {
        padding: 50px 0;
    }
    .info .info-content .info-content-inside {
        width: 95%;
    }
    .info .info-content .info-images {
        width: 18%;
    }
    .info .info-content .info-images .info-image-container {
        padding: 16px;
        width: 80%;
    }
    .vertical-line-container {
        width: 80%;
    }
    .info .info-content .info-images img {
        width: 100%;
    }
    .info .info-content .info-section {
        width: 75%;
    }
    .info .info-img img {
        height: 100%;
    }
    .project-container-2 {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width:767px) {
    .categories-content ul li{
    display: block;
    padding: 5px 20px;
}
.categories-content ul li:after{
    display: none;
}
.portfolio-project:nth-child(odd){
    margin-right: 0%;
}
    .wallpaper.wallpaper-portfolio{
        height: 550px;
    }
    .portfolio-project{
        width: 100%;
        margin-bottom: 40px;
    }
    .project .project-container .project-section{
        width: 100%;
    }
    .project .project-container .project-section{
    text-align: center;
}
    .project .project-container .project-section p{
    text-align: center;
    width: 100%;
}
.project .project-container-2 .project-section{
    text-align: center;
}
.project .project-container-2 .project-section p{
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    width: 100%;
}
    .project .project-content .project-section .buttons{
        text-align: center;
    }
    .project .project-image img{
        padding-right: 0;
        padding-left: 0;
    }
    .project .project-container-2{
        flex-wrap: wrap-reverse;
    }
    .project .project-image img {
        margin-bottom: 20px;
    }
    .skills {
        margin-top: -5px;
    }
    h1 {
        font-size: 50px;
    }
    .info .info-content {
        padding: 40px 0;
    }
    .info .info-content .info-content-inside {
        width: 98%;
    }
    .info .info-content .info-images {
        width: 100%;
        text-align: center
    }
    .info .info-content .info-images .info-image-container {
        padding: 16px;
        width: 10%;
        display: inline-block;
    }
    .info .info-content .info-images img {
        width: 100%;
    }
    .info .info-content .info-section {
        width: 75%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .info .info-content .info-section .under-line {
        margin: 20px auto;
    }
    .info .info-img img {
        height: 300px;
        max-height: 300px;
    }
    .vertical-line-container {
        width: 40px;
        margin: 5px 20px;
        display: inline-block;
        height: 20px;
        vertical-align: top;
        position: relative;
        top: 20px;
    }
    .vertical-line {
        height: 0px;
        width: 20px;
        border: 1.2px dashed #333;
        display: inline-block;
    }
    .services {
        padding: 50px 0;
    }
    .services .services-content .services-description {
        width: 100%;
    }
    .services .services-content .services-description h1 {
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .services .services-content .services-description h1 br {
        display: none;
    }
    .services .services-content .services-description p {
        width: 100%;
    }
    .services .services-content .services-description .button {
        display: none;
    }
    .services .services-content .services-info {
        width: 100%;
        margin-top: 40px;
    }
    .services .services-content .services-info .service {
        width: 48%;
        margin-bottom: 50px;
    }
    .services .services-content .services-info .service .service-img {
        width: 20%;
    }
    .services .services-content .services-info .service .service-img img {
        width: 65%;
    }
    .services .services-content .services-info .service .service-content {
        width: 80%;
    }
    .services .services-content .services-info .service .service-content h6 {
        padding-bottom: 10px;
    }
    .services .services-content .services-info .service .service-content p {
        font-size: 14.25px;
    }
    .contact-info {
        padding: 40px 0;
        background-color: #50ccb3;
        width: 100%;
    }
    .contact-info .contact-info-content {
        width: 96%;
        margin: 0 auto;
    }
    .contact-info .contact-info-content .contact-info-section {
        width: 100%;
        text-align: center;
        margin-bottom: 30px
    }
    .contact-info .contact-info-content .contact-info-section img {
        width: 30%;
        max-width: 80px;
        margin: 0 auto;
    }
    .contact-info .contact-info-content .contact-info-section h6 {
        margin: 30px 0;
        margin-bottom: 0px;
        color: #fff;
    }
    .contact {
        padding: 40px 0 40px;
    }
    .contact .contact-content .under-line-container {
        padding-bottom: 50px;
    }
    .contact .contact-content .form-content {
        width: 96%;
    }
    .contact .contact-content .form-content .form input {
        width: 100%;
    }
}

@media screen and (max-width:550px) {
    .wallpaper.wallpaper-portfolio{
        height: 460px;
    }
    .project .project-content .project-section .buttons .button{
        min-width: 80%;
        margin-bottom: 20px;
    }
    .section-content {
        width: 96%;
    }
    .wallpaper {
        height: 620px;
    }
    .wallpaper .wallpaper-content h1 {
        font-size: 42px;
        line-height: 50px;
        text-align: center;
    }
    .wallpaper .wallpaper-content h3 {
        padding: 35px 0 40px;
        color: #444;
        text-align: center;
    }
    .wallpaper .wallpaper-content .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .wallpaper .wallpaper-content .button {
        width: 100%;
        margin: 10px 0;
        margin-left: 0;
        margin-right: 0 !important;
        text-align: center;
    }
    .info .info-content .info-images .info-image-container {
        padding: 12px;
        width: 15%;
        display: inline-block;
    }
    .info .info-content .info-images img {
        width: 100%;
    }
    .vertical-line-container {
        width: 30px;
        margin: 5px 10px;
    }
    .info .info-img img {
        height: 260px;
        max-height: 260px;
    }
    .skills .skills-content .skills-images {
        padding: 10px 0 40px;
        padding-left: 0px;
        text-align: left;
    }
    .skills .skills-content .skills-images svg {
        display: inline-block;
        width: 18%;
        margin-right: 6%;
        margin-left: 0;
        margin-bottom: 20px;
        opacity: 0.75;
        cursor: pointer;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .skills .skills-content .skills-description:nth-child(2) {
        text-align: left;
        margin-top: 35px;
    }
    .skills .skills-content .skills-description:nth-child(2) .under-line {
        margin-left: 0;
        margin-right: auto;
    }
    .fact {
        margin-bottom: 25px;
    }
    .services .services-content .services-info .service {
        width: 100%;
        margin-bottom: 50px;
    }
    .contact .contact-content .form-content .form button {
        width: 100%
    }
    .copyright-content {
        width: 96%;
    }
}

@media screen and (max-width:400px) {
    .info .info-content .info-images .info-image-container {
        padding: 12px;
        width: 19%;
        display: inline-block;
    }
    .info .info-content .info-images img {
        width: 100%;
    }
    .vertical-line-container {
        width: 25px;
        margin: 5px 10px;
    }
}
