.nav {
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 8px;
    color: white;
    z-index: 9;
    font-size: 0.8em;
    font-family: 'Mclaren', cursive;
    transition: 0.3s cubic-bezier(.61, .26, .09, .94);
}
.nav-list{
    transition: 0.3s ease-in
}
.list1 {
    margin: 0;
    margin-top: 20px;
    display: inline-block;
}
.list2 {
    margin: 0;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}
.list2 li{
    border:0.4px solid #aaa;
    letter-spacing:2.6px;
/*    transition:0.3s linear;*/
}
.list2 li:nth-child(1){
    padding: 5px;
}
.list1 li {
    display: inline-block;
    padding: 15px 15px;
    position: relative;
    cursor: pointer;
}
.list2 li {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.list2 li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color:white;
}
.container-hamburger {
    cursor: pointer;
    z-index: 9 !important;
    border:0.4px solid #aaa;
    padding: 3.5px 8px;
    position: absolute;
    top:0;
    left: 100%;
    display: none
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.display .mobile-container{
    color:white;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.list1 li:before,
.list1 li:after{
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 35%;
    background-color: white;
    position: absolute;
    content: '';
    opacity: 0;
}

.list1 li:before {
    top: 0;
    left: 0;
    height: 1.5px;
}

.list1 li:after{
    bottom: 0;
    right: 0;
    height: 2px;
}


.list1 li:hover:before,
.list1 li.hover:before {
    left: 65%;
    opacity: 1;
}

.list1 li:hover:after,
.list1 li.hover:after{
    right: 65%;
    opacity: 1;
}
.nav-mobile{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 3;
    display: none
}
.mobile-container{
    position: relative;
    height: 100%;
    
}
.mobile-container ul{
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 15%;
    color:white;
}
.mobile-container ul li{
    padding: 20px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    text-align: center
}

@media screen and (min-width:1400px){
    .list1 li:after{
        height: 1.5px;
    }
}

@media screen and (max-width:900px){
    .nav{
        transition: 0s;
        padding: 5px;
    }
    .nav-list{
        margin-top: -15px;
        transition: 0s;
    }
    .list1 li:before,
    .list1 li:after {
        display: none;
        margin: 0;
        padding: 0;
    }
    .list1{
        padding: 0;
        display: none;
        margin: 0;
        margin-top: 0;
    }
    .list1 li{
        display: block ;
        text-align: center;
        padding: 10px;
        margin: 0;
        background-color:#7da7d1;
        border-bottom:1px solid #ccc;
    }
    .list2{
        display: block;
        width: 83%;
        text-align: right;
    }
    .container-hamburger{
        display: inline-block;
    }
}


